*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

 
.page-title {
	text-align: center;
}

.registration-form {
	width: 800px;
  margin: auto;
}

 

.form-heading{
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	padding-bottom:0.5rem ;
}
 
.main-container{
	background-color: #eee;
	padding-bottom: 1rem;
	box-sizing: border-box;
	width: auto;
}

form > input {
	width: auto;
}